html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}







header.primary{
    background-color:#2f55a8;
    text-align:right;
    font-size:1.5em;
    font:bold;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:60px;
}


header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    margin:10px;
    padding-left:25px;

}

.background{
    background-color:silver;
    
}

a:link{
  
  color:black;
  
}

a:hover{
  color:gray;
  
}

a:visited{
  
  color: white;
  
}

.spacexlogo{
    
    padding-top: 30px;
    padding-left:50px;
    
}

.table{
    
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    
}

.footer{
  
  background-color:darkgray;
  padding:5px 15px 15px 0px;
  padding-left:20px;
  
}

.body{
  
  padding:30px 100px 15px;
  text-indent:2em;
  
  
}

.border{
  
  font-size:2em;
  border-bottom:3px solid #2f55a8;
  padding-top:40px; 
  padding-left:5%;
  padding-bottom:15px;
  color:#2f55a8;
  text-shadow:2px 2px 2px black;
  
  
}