html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



/* ---------------Utility Styles----------------- */



.container{
  
  width:600vw;
  margin: 10px auto;
  max-width: 1000px;
  background-color:#a8a8a8;
  text-align:center;
  column-width:25em;
  padding-top:0px;
  padding-bottom:20px;
  width:100%;
  
  box-shadow: 10px 5px #888888;
  

}



header.primary{
    background-color:#2f55a8;
    text-align:center;
    font-size:1.5em;
    font:bold;
    position:fixed;
    top:0;
    left:0;
    right:0;
    height:60px;
}

.background{
  background-color: silver;
}

body{
  margin:0px;
  background:url("../img/space_background.jpg");
  
}



header.primary nav ul{
padding:0;
display:flex;
flex-direction:row;
margin: 10px;
padding-left:25px;
list-style-type:none;

}


header.primary nav ul li{
  width:25%;
}

a:link{
  
  color:black;
  
}

a:hover{
  color:gray;
  
}

a:visited{
  
  color: white;
  
}

.body h2{text-align:center;}

.configurationcontainer{
  column-width:30em;
  padding:30px 25px 30px;
  margin-top:25px auto;
  padding-left:25px;
  
}

.configurationhead{
  
  padding-bottom:150px;
  padding-top:80px;
  
}

.configurationlist1{
  
  padding-top:15px;
  text-align:center;
  
}

.configurationlist2{
  
  padding-top:10px;
  text-align:center;
  
}

.configurationlist3{
  
  padding-top:5px;
  text-align:center;
  
}

.footer{
  
background-color:darkgray;
 text-align:center;
 padding-top:15px;

  
}

.footer ul{
  margin:0 auto;
  width:250px;
}

.footer li{
  text-align:left;
}

.dragonlogo{
  float:right;
  padding-right:20px;
  margin-top:5px;
}

.logo{
  float:left;
}



@media screen and (min-width:768px){
  body{
}
}



@media screen and (min-width:1024px){
    body{
  background:green;
}
  
}

.border{
  
  font-size:2em;
  border-bottom:3px solid #2f55a8;
  padding-top:40px; 
  padding-left:5%;
  padding-bottom:15px;
  color:#2f55a8;
  text-shadow:2px 2px 2px black;
  
  
}

.body1{
  
  padding:30px 100px 15px;
  text-indent:2em;
  
  
}

.table{
    
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
    
}

.spacexlogo{
    
    padding-top: 30px;
    padding-left:50px;
    
}

.faqtitle{
    
    font-size:3em;
    text-align:center;
    top-padding:100px;
    
}