
/* Fashion Colors

 Primary - color: #3868A6
 Accent - color: #042959
 Heading - color: #BF8563
 Hyperlink - color: #730202
 Hover - color: #8C2703

*/

header{
    color: #BF8563;

}

body{
    font-family: sans-serif;
    line-height: 1.5;

}
    