
/* Fashion Colors

 Primary - color: #3868A6
 Accent - color: #042959
 Heading - color: #BF8563
 Hyperlink - color: #730202
 Hover - color: #8C2703

*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



/* ---------------Utility Styles----------------- */

.container{
  width:80vw;
  margin: 40px auto;
  max-width: 900px;
  background-color:lightgrey;
}


.img-right{
  float:right;
  border:1px solid #c0c0c0;
  padding:10px;
  margin:20px 0px 10px 20px;
  
}

.img-left{
  float:left;
  border:1px solid #c0c0c0;
  padding:10px;
  margin: 10px 20px 10px 0;
}

.img-center{
  display:block;
  border:1px solid blue;
  padding:10px;
  margin:20px auto;
  
}

/* Responsive Images */

img{
  max-width:100%;
  height:auto;
}

/* ---------------Global Styles----------------- */

body{
    font-family: sans-serif;
    line-height: 1.5;

}

header.primary{
    background-color: #BF8563;
    text-align:center;
    color:#3868A6;
    
     /* Longform */
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 28px;
    padding-left: 42px;
    
    /* Shorthand top/bottom | left/right */
    padding: 20px 40px;
    
    /* Shorthand T,R,B,L */
    padding: 40px 40px 20px 40px;
    
    /* Shorthand T, r/l , B */
    padding:40px 40px 20px;
    
}
    



header.primary h1{
     font-size:3.2rem;
  margin: 20px 0;
    
}

header.primary h1 a{
  color:#3868A6;
  text-decoration:none;
}

header.primary h2{
  font-size: 2em;
  margin:20px auto 40px;
}
    
header.primary nav{
    width:80vw;
    margin: 20px auto;

}
header.primary nav ul{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    
}
header.primary nav ul li{
    list-style-type:none;
    
}

header.primary nav ul li a:link, 
header.primary nav ul lie a:visited{
    color:white;
    text-decoration:none;
  background-color:#000000;
  background-color: rgba(0,0,0,.4);
  padding:8px 16px;
  border-radius:20px;
  
}

header.primary nav ul li a:hover, 
header.primary nav ul li a:active{
    
    background-color: rgba(0,0,0,.8);
    
}

#intro{
     border-bottom: 1px ridge #c0c0c0;
  padding-bottom:1.5em;
    
}

#intro h2{
  color:#BF8563;
}

#intro p{
  line-height:1.5em;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom:2.6em;
}

article.post{
  width:31%;
  padding:.7em;
  box-shadow: 0 4px 8px rgba(0,0,0,.4);
  border-radius:10px;
  font-size:.9em;
  transition:.5s;
}

article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0,.4);
}

article.post figure{
  margin:0;
}

article.post time, article.post figcaption, article.post footer{
  font-size:.7em;
  text-transform:uppercase;
  color:#c0c0c0;
}

article.post img{
  border-radius:5px;
   transition:.5s;
}

article.post img:hover{
  border-radius:20px;
}

article.post a:link, article.post a:visited {
  color:#3b638b;
}

article.post a:hover, article.post a:active {
  text-decoration:none;
}
/* Attribute Selector */
aside[role="complementary"]{
  background-color:#3868A6;
  color:black;
  padding:2.5em;
}

aside .container{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}

aside article.widget{
  width:40%;
}

aside .widget a:link, aside .widget a:hover{
  color:black;
  display:block;
  margin-top:20px;
  letter-spacing:1.5px
}

aside .widget footer{
  display:none;
}

footer#column{
  background-color:red;
  
}
#colophon h6{
  
  margin:0;
  padding:1.4em;
  text-align:center;
  font-size:.9em;
  text-transform:uppercase;
  color:darkblue;

}

#additional-elements h2{
  color:#BF8563;
  border-bottom:1px dotted #c0c8c0;
  
  
}

a:hover, a:active{
  color:#8C2703;
  
}

a:hover, a:active{
  text-decoration: none;
  
}

#additional-elements h3, #additional-elements h4{
  border-left:7px solid gray;
  padding: 5px 10px;
}

table{
  width:100%;
  border:1px solid gray;
  border-collapse:collapse;
  margin-bottom:20px;
  
}
caption{
  font-weight:bold;
  font-size:1.5em;
  margin:10px;
  
}
tr:nth-child(even){
  background:lightgray;
}
th{
  background-color:#BF8563;
  width:33%;
  padding:10px;

  
}
td{
  border:1px solid gray;
  padding:5px;
  
}

tr:hover{
  background:lightblue;
}
#additional-elements ol{
  list-style-type: upper-roman;
}

#additional-elements ul ul{
  list-style-type: square;
  color: blue;
}

#additional-elements dt{
  font-weight:bold;
  color:steelblue;
}
/*
#additional-elements dt:first-child{
  font-weight:bold;
  font-size:1.2em;
  margin-top:1.4em;
}
*/

dd + dt{
  margin-top:1.4em;
}

#additional-elements dd{
  margin:0;
  
}

#additional-elements blockquote{
  background-color:rgba(0,0,0, .15);
  padding:40px 60px;
  border: 5px double grey;
  border-radius: 16px;
}

#additional-elements cite{
  display:block;
  text-align:right;
  font-weight:bold;
  font-size:.6em;
  
}