.formlabel {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding: 5px;
	padding-left:30px;
	font-weight: bold;
}


.error {
  color: red;
  padding-left: 5px;
  }
  
  td {
  	border:1px solid black;
  	padding:8px;
  }
  table{
  	border-collapse:collapse;
  }
  
  tr:nth-child(even){
  	background-color:#f2f2f2;
  	
  }