
.formlabel {
	display: inline-block;
	width:400px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
}

.formlabel1{
	display: inline-block;
	width:197px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel2{
	display: inline-block;
	width:337px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel3{
	display: inline-block;
	width:248px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel4{
	display: inline-block;
	width:214px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}


.formlabel5{
	display: inline-block;
	width:292px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel6{
	display: inline-block;
	width:290px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel7{
	display: inline-block;
	width:405px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel8{
	display: inline-block;
	width:100px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel9{
	display: inline-block;
	width:110px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel1A{
	display: inline-block;
	width:413px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel1B{
	display: inline-block;
	width:248px;
	text-align: right;
	padding: 5px;
	font-weight: bold;
	
	
}

.formlabel1C{
	display: inline-block;
	width:151px;
	text-align: right;
	padding: 10px;
	font-weight: bold;
	
	
}

